.ranking
  %h1.text10 いいね！ランキング
  .ranking__contents
    .ranking__contents--text
      %h1.no1 No.1
    .ranking__contents--contents_box
      = link_to "#"
      .ranking__contents--contents_box--image
        = image_tag 'top_cat.jpg',height: '100', width: '100',class:"mini_image"
      .ranking__contents--contents_box--text_box
        .ranking__contents--contents_box--text_box--name
          名前：しょーきちさん
        .ranking__contents--contents_box--text_box--likes
          いいね！：220
    .ranking__contents--text
      %h1.no1 No.2
    .ranking__contents--contents_box
      = link_to "#"
      .ranking__contents--contents_box--image
        = image_tag 'top_cat.jpg',height: '100', width: '100',class:"mini_image"
      .ranking__contents--contents_box--text_box
        .ranking__contents--contents_box--text_box--name
          名前：しょーきちさん
        .ranking__contents--contents_box--text_box--likes
          いいね！：220